<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heartape.hap.business.mapper.ArticleCommentMapper">

    <select id="selectWithChildCount" resultType="com.heartape.hap.business.entity.ArticleComment">
        select comment_id, uid, avatar, nickname, content,
               (select count(*) from article_comment_child where parent_id = t1.comment_id and status = 1) total
        from article_comment t1
        where article_id = #{article_id}
        and status = 1
    </select>
</mapper>
