<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heartape.hap.mapper.CommentManageMapper">
    <select id="selectArticleList" resultType="com.heartape.hap.entity.CommentManage">
        select t1.comment_id, t1.uid, t1.avatar, t1.nickname, t1.content comment, t1.created_time,
               t2.article_id mainId, t2.title
        from article_comment t1
        inner join article t2
        on t1.article_id = t2.article_id
        and t2.uid = #{uid}
        and t2.status = 1
        <where>
            <if test="startTime != null and endTime != null">
                t1.created_time between #{startTime} and #{endTime}
            </if>
            and t1.status = 1
        </where>
        order by t1.created_time desc
    </select>

    <select id="selectDiscussList" resultType="com.heartape.hap.entity.CommentManage">
        select t1.comment_id, t1.uid, t1.avatar, t1.nickname, t1.content comment, t1.created_time,
        t2.discuss_id mainId, t2.topic_id titleId
        from discuss_comment t1
        inner join topic_discuss t2
        on t1.discuss_id = t2.discuss_id
        and t2.uid = #{uid}
        and t2.status = 1
        <where>
            <if test="startTime != null and endTime != null">
                t1.created_time between #{startTime} and #{endTime}
            </if>
            and t1.status = 1
        </where>
        order by t1.created_time desc
    </select>
</mapper>