<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heartape.hap.mapper.TopicMapper">

    <resultMap id="topicWithLabel" type="com.heartape.hap.entity.Topic">
        <id column="topic_id" property="topicId" />
        <result column="uid" property="uid" />
        <result column="avatar" property="avatar" />
        <result column="nickname" property="nickname" />
        <result column="profile" property="profile" />
        <result column="title" property="title" />
        <result column="simple_description" property="simpleDescription" />
        <result column="description" property="description" />
        <result column="created_time" property="createdTime" />
        <collection property="label" ofType="com.heartape.hap.entity.Label">
            <id column="label_id" property="labelId" />
            <result column="name" property="name" />
        </collection>
    </resultMap>
    <select id="selectOneLabel" resultMap="topicWithLabel">
        select t1.topic_id,t1.uid,t1.avatar,t1.nickname,t1.profile,t1.title,t1.simple_description,t1.description,
               t1.created_time,t2.label_id,t2.name
        from topic t1
                 left join label t2
                           on JSON_CONTAINS(JSON_EXTRACT(t1.label_id, '$[*]'), CONVERT(t2.label_id, CHAR))
                               and t2.status = 1
        where topic_id = #{topic_id}
          and t1.status = 1
    </select>

</mapper>
